@import "@/assets/styles/_variables.scss";


@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin typography($size, $weight, $color: $text-color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin box-shadow($shadow-color, $shadow-size) {
  box-shadow: 0 0 $shadow-size $shadow-color;
}

@mixin transition($property, $duration: 0.2, $ease: ease) {
  transition: $property $duration $ease;
}