@import './_variables.scss';
@import './_mixins.scss';
@import './_fonts.scss';
@import './_breakpoints.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $background-color;
}

.wrapper {
  @include flex-center;
  position: relative;
  height: 100vh;

  .bg-image {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5rem;
    z-index: 1;

    @include respond-to(sm) {
      padding: 2rem;
    }
  }

  .todo__container {
    position: relative;
    z-index: 2;

    .todo-app {
      width: 40rem;
      @include box-shadow(rgba(0, 0, 0, 0.2), 0.5rem);

      @include respond-to(md) {
        width: 30rem;
      }
      @include respond-to(sm) {
        width: 100%;
        padding: 0;
      }

      .todo-list {
        background: #FFF4E9;

        .todo-tasks {
          margin: 0;
          padding: 1.9rem;
          list-style: none;
          display: flex;
          gap: 1.56rem;
          flex-direction: column;

          @include respond-to(sm) {
            padding: 1rem;
          }
        }
        
        .todo-task-add {
          background: #FFECD8;
          padding: 0.75rem;
          border: 0.125rem dashed $primary-color-elem;
          border-radius: 0.6rem;
          cursor: pointer;

          @include transition(background-color, 0.2s);

          @include respond-to(sm) {
            margin-left: 1rem;
          }

          h2 {
            color: $primary-color-elem;
            @include typography($font-size-primary, 400, $primary-color-elem);
            margin: 0;
            text-align: center;
          }

          &:hover {
            background: $primary-color-elem;

            h2 {
              color: white;
            }
          }
        }
      }
    }
  }
}





